.footer{
    background: linear-gradient(to right, #202954, #00436a);
    color: var(--colorGrisSoft);
    padding: 20px;
}
.footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social{
    list-style: none;
    display: flex;
    gap: 10px;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 15px;
}
.footer-contact a{
    color: var(--colorGrisSoft);
    text-decoration: none;
}
.footer-social__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorGrisSoft);
    border-radius: 50%;
    width: 33px;
    height: 33px;
}